.greetingForm {
    padding: 10px;
    display: flex;
    align-items: flex-start;
}

.inputAndButtonContainer {

}

.error {
    color: red;
}

.inputClass{

}

.input:focus {

}

.errorInput {
}

.button {
    width: 70px;
    height: 21px;
    left: 160px;
    top: 459px;


    /* Primary/100 */
    color: white;
    background: #0066CC;
    opacity: 0.5;
    border-radius: 3px;
}

.button:focus {
}

.button:active {
}

.button:disabled {
}

.text {

    color: rgba(0, 0, 0, 0.65);
}

.greeting {

}
